.wrapper {
    margin: 0 auto;
    max-width: 700px;
}

body {
    background-color: ivory;
    font-family: 'Raleway', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    display: block;
    text-align: center;
    border: 1px solid rgb(230, 237, 238);
    border-radius: 150px;
    background-color: rgb(230, 237, 238);
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
}

.search-button {
    position: relative;
    padding: 30px;
}

.container {
    display: block;
    border: 1px solid rgb(230, 237, 238);
    border-radius: 100px;
    background-color: rgb(230, 237, 238);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

.weather-image img {
    width: 64px;
    height: 64px;
}

.result-city {
    font-size: larger;
    font-weight: 900;
}

.weekly {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.week-day {
    font-size: 16px;
}

.week-day-temp {
    font-size: 13px;
}

.highest {
    font-weight: bolder;
}

.lowest {
    font-weight: lighter;
    color: gray;
}

.ending {
    font-size: x-small;
    position: relative;
    color: darkgray;
}